rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global access for the specific user as requested
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == "27pxDuyWkAZWJ61pmuxvgtFk6Zm1";
    }

    // Default access for other users
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
